<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alcove | Ace</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet"/>
    <link rel="icon" href="static/img/web_icon.png" />
    <link rel="stylesheet" href="static/styles/main.css" />
    <link rel="stylesheet" href="static/styles/home.css" />
    <link rel="stylesheet" href="static/styles/ace.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>

  <body>
    <!-- Header Inclusion-->
    {% include "partial_header.html"%}

    <!-- Toast Container -->
    <div class="toast-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="toast toast-top-right" role="alert" aria-live="assertive" aria-atomic="true">
                      <div class="toast-header">
                        <img src="static/img/web_icon.png" width="32" height="32" class="rounded me-2">
                        <strong class="me-auto">Alcove</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                      </div>
                      <div class="toast-body">
                        {{ message }}
                      </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <!-- Hidden audio element for message pings -->
    <audio controls id="pingAudio" src="static/audio/ping.mp3" style="display:none;"></audio>

    <!-- Ace Widgets-->
    <div class="container">
        <h1 class="h1"><i class="fa-regular fa-clock"></i>&nbsp;{{session["today"]}}</h1>
        <hr>         
        <div class="container">
            <div class="row">
                <!-- Main Ace Widget-->
                <div class="col-lg-8 col-md-7 col-sm-12">
                    <div class="main-body">
                        <!-- Tabs of Links -->
                        <div class="album py-5">
                            <div class="container">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3">
                                    <div class="col">
                                        <div class="card shadow-sm">
                                            <div class="card-body">
                                                <p class="fs-5"><i class="fa-solid fa-hourglass-start"></i>&nbsp;Pomodoro</p>
                                                <div class="button-group">
                                                    <a type="button" class="btn btn-sm btn-success" href="/pomodoro">Go</a>
                                                    <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-target="#pomodoroModal">Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card shadow-sm">
                                            <div class="card-body">
                                                <p class="fs-5"><i class="fa-solid fa-cubes-stacked"></i>&nbsp;Outline</p>
                                                <div class="button-group">
                                                    <a type="button" class="btn btn-sm btn-success" href="/outline">Go</a>
                                                    <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-target="#outlineModal">Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card shadow-sm">
                                            <div class="card-body">
                                                <p class="fs-5"><i class="fa-solid fa-hand-sparkles"></i>&nbsp;Collaborate</p>
                                                <div class="button-group">
                                                    <a type="button" class="btn btn-sm btn-success" href="/collaborate">Go</a>
                                                    <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-target="#progressModal">Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Ace Quick Access Chat-Window -->
                        <div id="chatWindow" class="chat-window container-fluid text-center">
                            <div id="loading" class="spinner-grow text-light" role="status" hidden><span class="fs-5 visually-hidden">Loading...</span></div>
                            <p id="aceResponse" class="container">
                                {{talk | safe}}
                            </p>
                        </div>
                        <div class="action-bar container">          
                            <div class="search-bar input-group">
                                <form id="chat" action="/chat_ace" method="POST">
                                    <div class="chat-element input-group">
                                        <textarea name="message" placeholder="Type a message" class="user-msg" id="userMessage" required></textarea>
                                        <button class="p-lg continue" id="sendMessage" type="submit" tabindex="-1"><i class="fa-solid fa-paper-plane"></i></button>
                                    </div>    
                                </form>
                            </div>
                            <div class="item-bar">
                                <div><a class="link-icon" href="/ace" data-bs-toggle="tooltip" data-bs-placement="left" title="Restart chat"><i class="fa-solid fa-arrows-rotate fs-5"></i></a></div>
                                <div><a class="link-icon" data-bs-toggle="modal" data-bs-target="#infoModal" ><i class="fa-solid fa-circle-info fs-5" data-bs-toggle="tooltip" data-bs-placement="right" title="About Ace"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Habit Tracker Widget-->
                <div class="col-lg-4 col-md-5 col-sm-12">
                    <div class="sidebar">
                        <div class="sidebar-content">
                            <div class="card">
                                <h5 class="card-header"><i class="fa-solid fa-glasses"></i>&nbsp;Habit Tracker</h5>
                                <div class="card-body">
                                    {% if not tracked_habits: %}
                                        You haven't began tracking any habits. Begin tracking <a class="upload-link" type="button" data-bs-toggle="modal" data-bs-target="#createHabit">now</a>.
                                    {% endif %}
                                    {% if tracked_habits: %}
                                        <p>
                                            <i class="fa-solid fa-circle-info"></i>&nbsp; Manage your habits <a class="upload-link" type="button" data-bs-toggle="modal" data-bs-target="#habitTracker">here</a>.
                                        </p>
                                        <p class="fw-bold"><i class="fa-solid fa-play"></i>&nbsp;Ongoing Habit Streaks</p><hr>
                                        <ol class="list-group list-group-numbered">
                                            {% for habit in ongoing_habits: %}
                                                {% if loop.index0 < 2: %}
                                                    {% if session["completed_habits"][habit["habit_name"]] != 1: %}
                                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                                            <div class="ms-2 me-auto text-wrap">
                                                                <div class="fw-bold">{{habit["habit_name"]}}</div>
                                                                <p class="habit-desc">{{habit["habit_desc"]}}</p>
                                                            </div>
                                                            {% if session["missed_habits"][habit["habit_name"]] != 1: %}
                                                                <span class="badge text-bg-warning rounded-pill">
                                                                    <span id="d_score_{{loop.index}}">{{habit["score"]}}</span>/{{habit["max_score"]}}
                                                                </span>
                                                            {% endif %}
                                                            {% if session["missed_habits"][habit["habit_name"]] == 1: %}
                                                                <span class="badge text-bg-danger rounded-pill">Failed!</span>
                                                            {% endif %}
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if ongoing_habits | length > 2:%}
                                                <span>+{{ongoing_habits | length - 2}} more...</span>
                                            {% endif %}
                                        </ol>  
                                
                                        <br>
                                        {% if session["completed_habits"]: %}
                                            <p class="fw-bold"><i class="fa-solid fa-check"></i>&nbsp;Habit Streaks completed</p><hr>
                                            <ol class="list-group list-group-numbered">
                                                {% for habit in completed_habits: %}
                                                    {% if loop.index0 < 2: %}
                                                        {% if session["completed_habits"][habit["habit_name"]] == 1: %}
                                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                                <div class="ms-2 me-auto text-wrap">
                                                                    <div class="fw-bold">{{habit["habit_name"]}}</div>
                                                                    <p class="habit-desc">{{habit["habit_desc"]}}</p>
                                                                </div>
                                                                <span class="badge text-bg-success rounded-pill">
                                                                    <span id="d_score_{{loop.index}}">{{habit["score"]}}</span>/{{habit["max_score"]}}
                                                                </span>
                                                            </li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if completed_habits | length > 2: %}
                                                    <span>+{{completed_habits | length - 2}} more...</span>
                                                {% endif %}
                                            </ol>  
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Details about the Pomodoro Tool -->
    <div class="modal fade" id="pomodoroModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-none">
                    <h1 class="modal-title fs-5 fw-bold">Pomodoro Timer</h1>
                </div>
                <div class="modal-body">
                    Customize your pomodoros for 25 or 50 minutes. This technique enhances focus and productivity by breaking work into manageable intervals.
                </div>
                <div class="modal-footer border-none">
                    <button type="button" class="btn dismiss" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Details about the Outline Tool -->
    <div class="modal fade" id="outlineModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-none">
                    <h1 class="modal-title fs-5 fw-bold">Tasks Outline</h1>
                </div>
                <div class="modal-body">
                    Set an outline for tasks you would want to complete in the present moment. Stay organized by managing your tasks.
                </div>
                <div class="modal-footer border-none">
                    <button type="button" class="btn dismiss" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Details about Collaboration -->
    <div class="modal fade" id="progressModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-none">
                    <h1 class="modal-title fs-5 fw-bold">Collaborate</h1>
                </div>
                <div class="modal-body">
                    Collaborate with Ace! Best recommended for programming and creative tasks.
                    Enhance your productivity and propel your project's progress.
                </div>
                <div class="modal-footer border-none">
                    <button type="button" class="btn dismiss" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Info about Ace -->
    <div class="modal fade" id="infoModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header border-none">
              <h1 class="modal-title fs-5">Ace</h1>
            </div>
            <div class="modal-body">
              Ace is your assistant on Alcove; designed best resolving
              your problems and giving advice. You can discuss anything with it,
              as long as you provide proper context.
              <br><br>
              Here are some ways you can engage in conversations with it:
              <ul>
                <li>Ask it to solve issues you want to resolve</li>
                <li>Discuss ideas, approaches and problems</li>
                <li>Attach files for specific help and analysis (*)</li>
              </ul>
              * This feature is not available for the Quick Access widget
              you are currently using. For retention of conversation history
              and access to better responses, create a new project discussion
              in the 'Collaborate' pane.
              <br>
            </div>
            <div class="modal-footer border-none">
              <button type="button" class="btn dismiss" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>

    <!-- Upload File Model -->
    <div class="modal fade" id="uploadFileModalFree" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
          <form action="/chat_ace" method="POST" enctype="multipart/form-data">
            <div class="modal-content profile-content">
              <div class="border-none modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="profile-title">Upload a file</h1>
              </div>
              <div class="border-none modal-content profile-content">
                <div class="border-none modal-body">
                  <div class="mb-3">
                    <label for="attachment" class="form-label fw-bold">Attachment</label>
                    <input name="attachment" type="file" class="fc-dark" required>
                  </div>
                  <div class="mb-3">
                    <label for="newtitle" class="form-label fw-bold">Instructions</label>
                    <textarea id="msg" name="usermsg" class="message form-control fc-dark" placeholder="What do you want Ace to do?" required></textarea>
                  </div>
                  <span id="talkSpinnerModal" class="spinner-border me-2" role="status" aria-hidden="true" hidden><br></span>
                </div>
              </div>
              <div class="border-none modal-footer">
                <button type="submit" id="askButton" class="btn btn-lg btn-success rounded-pill px-3">
                  Submit
                </button>
                <button type="button" class="btn btn-lg btn-danger rounded-pill px-3" data-bs-toggle="modal">
                  Close
                </button>
              </div>
            </div>
          </form>
        </div>
    </div>
    
    <!-- Habit Tracker Modal -->
    <div class="modal fade" id="habitTracker" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold" id="exampleModalToggleLabel">Manage your Habits</h1>
            </div>
            <div class="modal-body">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th class="fw-bold" scope="col">Name</th>
                                  <th class="fw-bold" scope="col">Task</th>
                                  <th class="fw-bold" scope="col">Progress</th>
                                  <th class="fw-bold" scope="col">Update</th>
                                  <th class="fw-bold" scope="col">Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                <p><span class="fw-bold">NOTE:</span> Use the Update button to update your daily progress. If you haven't 
                                    engaged with the habit today, do not press it. Also, you won't be allowed to update habits you have failed,
                                    i.e. those whose streaks you could not maintain continuously.</p>
                                    {% if tracked_habits %}
                                    {% for habit in tracked_habits %}
                                    <tr id="habitRow_{{ loop.index }}">
                                        <td>{{ habit["habit_name"] }}</td>
                                        <td>{{ habit["habit_desc"] }}</td>
                                        <td>
                                            <span id="score_{{loop.index}}">{{habit["score"]}}</span> of {{habit["max_score"]}}
                                            <div class="progress">
                                              <div id="progressBar_{{loop.index}}" class="progress-bar" role="progressbar" style="width: {{ (habit["score"] / habit["max_score"]) * 100 }}%;" aria-valuenow="{{ habit["score"] }}" aria-valuemin="0" aria-valuemax="{{ habit["max_score"] }}">
                                              </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-row g-3 buttons updateHabits">
                                                <form class="updateHabit" id="updateHabit_{{ loop.index }}" action="/update_habit/{{ session['nickname'] }}/{{ habit['habit_name'] }}" method="POST">
                                                    <button id="updateHabit_{{ loop.index }}_b" type="submit" class="btn btn-sm btn-success" value="1" 
                                                    {% if session["modified_habits"][habit["habit_name"]] == 1 or session["completed_habits"][habit["habit_name"]] == 1 or session["missed_habits"][habit["habit_name"]] == 1:%}disabled{% endif %}>
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                    <span id="spinnerUpdate_{{ loop.index }}" class="spinner-border spinner-border-sm text-success" aria-hidden="true" hidden></span>
                                                </form>
                                                <form class="deleteHabit" id="deleteHabit_{{ loop.index }}" action="/delete_habit/{{ session['nickname'] }}/{{ habit['habit_name'] }}" method="POST">
                                                    <button type="submit" class="btn btn-sm btn-danger">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </button>
                                                    <span id="spinnerDelete_{{ loop.index }}" class="spinner-border spinner-border-sm text-danger" aria-hidden="true" hidden></span>
                                                </form>
                                            </div>
                                        </td>
                                        <td id="status_{{loop.index}}">
                                            {% if habit["score"] != habit["max_score"] and session["missed_habits"][habit["habit_name"]] != 1: %}
                                                Ongoing
                                            {% endif %}
                                            {% if habit["score"] == habit["max_score"]: %}
                                                Done
                                            {% endif %}
                                            {% if session["missed_habits"][habit["habit_name"]] == 1: %}
                                                Failed !
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}                                
                            </tbody>                            
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-bs-target="#createHabit" data-bs-toggle="modal">New Habit</button>
              <button type="button" class="btn dismiss" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>

    <!-- Modal with Habit Creation form-->
    <div class="modal fade" id="createHabit" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header border-none">
                <h1 class="modal-title fs-5 fw-bold">Daily Habit Tracker</h1>
            </div>
            <form id="createHabit" action="/create_habit" method="POST">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="habitName" class="fw-bold form-label">Name a habit</label>
                        <input type="text" class="fc-dark form-control" name="habitName" id="habitName" placeholder="e.g., Drink Water" required minlength="10" maxlength="20">
                    </div>
                    <div class="mb-3">
                        <label for="habitDescription" class="fw-bold form-label">What do you want to look after?</label>
                        <input type="text" class="fc-dark form-control" name="habitDescription" id="habitDescription" placeholder="e.g., I must drink 8 glasses of water daily" minlength="15" maxlength="45" required>
                    </div>
                    <div class="mb-3">
                        <label for="habitTarget" class="fw-bold form-label">For how long (days) do you wish to track this habit?</label>
                        <input id="habitTarget" name="habitTarget" type="number" class="fc-dark form-control" min="1" max="3650" name="habit" required></input>
                    </div>
                    <small> This widget will only serve its purpose as long as the habit you
                        are tracking is fit to be updated daily, and you take responsibility
                        to be honest to yourself and your responses. </small>
                </div>
                <div class="modal-footer border-none">
                    <button id="newHabit" type="submit" class="btn btn-primary nav-pills">Start Tracking</button>
                    <button type="button" class="btn dismiss" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <!-- Include the rest of the partial templates-->
    {% include "personalise_modal.html"%}
    {% include "partial_profile.html"%}
    {% include "partial_menu.html"%}
    {% include "partial_footer.html"%}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="static/scripts/home.js"></script>
    <script src="static/scripts/ace.js"></script>    
  </body>
</html>
