<!DOCTYPE html>
<html lang="en">
  <head>
    <title>bored.ai</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet"/>
    <link rel="icon" href="static/img/web_icon.png" />
    <link rel="stylesheet" href="static/styles/main.css" />
    <link rel="stylesheet" href="static/styles/home.css" />
    <link rel="stylesheet" href="static/styles/dynamo.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
  </head>

  <body>
    <header class="p-3 mb-3">
      <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <button class="btn toggle-sidebar fc-dark" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
            <i class="fa-solid fa-bars fs-5"></i>
          </button>
          <a href="/" class="d-flex align-items-center mb-lg-0 text-dark text-decoration-none" draggable="false">
            <span class="shiny"><img src="static/img/web_icon.png" alt="user" width="32" height="32"/></span>
          </a>
          <div class="order-lg-3">
            <a data-bs-toggle="modal" data-bs-target="#profile" class="d-block">
              <img src="static/img/user.png" alt="user" width="32" height="32" class="profile-icon rounded-circle"/>
            </a>
          </div>
        </div>
      </div>
    </header>

    <div class="window container-fluid d-flex flex-col">
      <div class="chat-window container-fluid">
        <p id="talk" class="fs-6">
          {{talk}}
        </p>
      </div>
      <div class="action-bar container">          
        <div class="search-bar input-group">
          <form id="chat" action="/chat" method="POST"><div class="input-group">
            <textarea name="message" placeholder="Type a message" class="user-msg" id="userMessage"></textarea>
            <button class="btn continue" type="submit"><i class="fa-solid fa-paper-plane"></i></button></div>    
          </form>
        </div>
      </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRQat7KEhk+l/6rjoQ1Vd+tSp8PfuHT5ewJ2hVZih" crossorigin="anonymous"></script>
    <script src="static/scripts/dynamo.js"></script>
    <div class="modal fade" id="profile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="border-none modal-header">
            <h1 class="modal-title fs-5" id="profile-title">Profile</h1>
          </div>
          <div class="border-none modal-body">
            <div class="profile-tab">
              <div class="user-icon">
                <img
                  src="static/img/user.png"
                  alt="user"
                  width="100"
                  height="100"
                />
              </div>
              <div
                class="d-flex flex-column flex-wrap flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center"
              >
                <div class="list-group">
                  <a
                    class="list-group-item list-group-item-action d-flex gap-3 py-3"
                    aria-current="true"
                  >
                    <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                        <h6 class="mb-0">Nickname</h6>
                        <p class="mb-0 opacity-75">{{session["nickname"]}}</p>
                      </div>
                    </div>
                  </a>
                  <a
                    class="list-group-item list-group-item-action d-flex gap-3 py-3"
                    aria-current="true"
                  >
                    <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                        <h6 class="mb-0">Recovery mail</h6>
                        <p class="mb-0 opacity-75">{{session["recovery"]}}</p>
                      </div>
                    </div>
                  </a>
                  <a
                    href="/logout"
                    class="list-group-item list-group-item-action d-flex gap-3 py-3"
                    aria-current="true"
                  >
                    <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                        <h6 class="mb-0">Log-out</h6>
                        <p class="mb-0 opacity-75">
                          Log-out from this session.
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="border-none modal-footer">
            <button type="button" class="btn dismiss" data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="offcanvas offcanvas-start offcanvas-menu" data-bs-backdrop="static" tabindex="-1" id="sidebar">
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title">bored.ai - Menu</h5>
        <button type="button" class="btn dismiss" data-bs-dismiss="offcanvas">
          Close
        </button>
      </div>
      <div class="menu-content offcanvas-body">
        <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
          <div class="link-lists list-group">
            <a href="/dynamo" class="link-tab list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0 highlight">
                    <i class="fa-solid fa-comments"></i> Talk away boredom
                  </h6>
                  <p class="mb-0 opacity-75">
                    Talk to bored.ai, whenever and wherever and about whatever
                    you want.
                  </p>
                </div>
              </div>
            </a>
            <a href="/seeker" class="link-tab list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0 highlight">
                    <i class="fa-solid fa-lines-leaning"></i> Learn something
                    new
                  </h6>
                  <p class="mb-0 opacity-75">
                    Explore various ideas, theories or things you might find
                    interesting.
                  </p>
                </div>
              </div>
            </a>
            <a href="/scholar" class="link-tab list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0 highlight">
                    <i class="fa-solid fa-magnifying-glass"></i> Dive into anything
                  </h6>
                  <p class="mb-0 opacity-75">
                    If you're wanting to discuss something you find interesting
                    or would like to know better.
                  </p>
                </div>
              </div>
            </a>
            <a href="/challenger" class="link-tab list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0 highlight">
                    <i class="fa-solid fa-puzzle-piece"></i> Solve challenges
                    and puzzles
                  </h6>
                  <p class="mb-0 opacity-75">
                    Brainstorm over engaging puzzles and difficult challenges.
                  </p>
                </div>
              </div>
            </a>
            <a href="/shaman" class="link-tab list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0 highlight">
                    <i class="fa-solid fa-leaf"></i> Relax and unwind
                  </h6>
                  <p class="mb-0 opacity-75">
                    Take some time off and enjoy moments of calm and relaxation.
                  </p>
                </div>
              </div>
            </a>

            <a href="/ace" class="link-tab list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0 highlight">
                    <i class="fa-solid fa-tasks"></i> Organize yourself
                  </h6>
                  <p class="mb-0 opacity-75">
                    Create a plan, declutter your space, and manage your time
                    effectively.
                  </p>
                </div>
              </div>
            </a>

            <a href="/generalist" class="link-tab list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0 highlight">
                    <i class="fa-solid fa-paint-brush"></i> Discover hobbies
                  </h6>
                  <p class="mb-0 opacity-75">
                    Explore new activities and find your passion in various
                    hobbies.
                  </p>
                </div>
              </div>
            </a>

            <a href="/wanderer" class="link-tab list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0 highlight">
                    <i class="fa-solid fa-map-marker-alt"></i> Explore new POIs
                  </h6>
                  <p class="mb-0 opacity-75">
                    Discover new points of interest and expand your horizons.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
