<!DOCTYPE html>
<html lang="en">
  <head>
    <title>bored.ai</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet"/>
    <link rel="icon" href="static/img/web_icon.png" />
    <link rel="stylesheet" href="static/styles/main.css" />
    <link rel="stylesheet" href="static/styles/home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
  </head>

  <body>
  {% include "partial_header.html" %}
  {% include "partial_journal_menu.html" %}
  <div class="container">
    <h1 class="h1">{{session["today"]}}</h1>
    <hr>
    {% if not session["journals"]: %}
        <div id="promptForJournal" class="container my-5">
            <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
            <button id="removePrompt" type="button" class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill" aria-label="Close"></button>
            <i class="fa-solid fa-book fs-1"></i>
            <br><br>
            <h1 class="text-body-emphasis">Get Started</h1>
            <p class="col-lg-6 mx-auto mb-4">
                Start your first journal, let the thoughts flow! It's 100% personal and safe, with 
                no restrictions or judgement.
            </p>
            </div>
        </div>
    {% endif %}
  </div>
  <div class="album py-5 suggestion-tab">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <form action="/blank" method="POST">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="static/img/journal.jpg">
                <div class="card-body">
                  <p class="card-text">
                    <h5><b><u>New blank journal</u></b></h5>
                    The most basic journal type. It's totally blank, so you can 
                    jot down anything you like. This is a blank canvas for 
                    endless freedom and creativity.
                  </p>
                  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newJournalModal">Create</button>
                </div>
              </div>
            </form>
          </div>
          
          <div class="col">
            <form action="/trashit" method="POST">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="static/img/junk_journal.jpg">
                <div class="card-body">
                  <p class="card-text">
                    <h5><b><u>Trash it</u></b></h5>
                    If you're venting up a lot of frustration or wanting to 
                    go on a rant, trash away everything that is bugging you 
                    in an interactive, no-memory journal.
                  </p>
                  <button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="newJournalModal">Go</button>
                </div>
              </div>
            </form>
          </div>

          <div class="col">
              <form action="/exercises" method="POST">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" src="static/img/mood_timeline.jpg">
                  <div class="card-body">
                    <p class="card-text">
                      <h5><b><u>Reflection Game</u></b></h5>
                      Acknowledge your thoughts and reflect on current and past 
                      experiences. It may help you gain clarity of thought and 
                      find insight into your lifestyle.
                    </p>
                    <button type="submit" class="btn btn-success">Go</button>
                  </div>
                </div>
              </form>
          </div>
      </div>
  </div>
  <br><br>
  <div class="container">
    <h1 class="h1">Your Journals</h1>
    <hr>
    {% if not session["journals"] %}
    <div class="container my-5">
      <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">It's all empty</h1>
        <p class="lead">
          You haven't written any journals. Gotta start somewhere?
        </p>
      </div>
    </div>
    {% endif %}
    <div class="album py-5">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for journal in session["list_journals"]:%}
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <p class="fs-5">{{journal["title"]}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="/entry/{{journal["token"]}}">View or Edit</a>
                  </div>
                  <small class="text-body-secondary">{{journal["date"]}}</small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  <script src="static/scripts/home.js"></script>
  <script src="static/scripts/journal.js"></script>
  {% include "partial_profile.html"%}
  {% include "partial_menu.html"%}
  {% include "partial_profile.html"%}
  </body>
  {% include "partial_footer.html"%}
</html>
