<!-- Generic Toast -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header">
      <img src="static/img/web_icon.png" class="rounded me-2" alt="ai" width="32" height="32">
      <strong class="me-auto">Alcove</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <h2 class="fw-bold mb-0">Welcome</h2>

      <ul class="d-grid gap-4 my-5 list-unstyled small">
        <li class="d-flex gap-4">
          <span class="m-icon bi text-body-secondary flex-shrink-0 d-flex">
            <i class="fa-solid fa-bars fs-1"></i>
          </span>
          <div>
            <h5 class="mb-0">Get Started</h5>
            Click on the menu icon for quick links to various tools.
          </div>
        </li>
        <li class="d-flex gap-4">
          <span class="m-icon bi text-body-secondary flex-shrink-0 d-flex">
            <i class="fa-solid fa-user-clock fs-2"></i>
          </span>
          <div>
            <h5 class="mb-0">No limits</h5>
            Usage has no limits, but this may depend on how frequent
            you're using Alcove
          </div>
        </li>
        <li class="d-flex gap-4">
          <span class="m-icon bi text-body-secondary flex-shrink-0 d-flex">
            <i class="fa-solid fa-wand-magic-sparkles fs-2"></i>
          </span>
          <div>
            <h5 class="mb-0">For you</h5>
            Your experience on Alcove has been curated as per your interests, learning from every interaction.
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>