<div class="offcanvas offcanvas-start offcanvas-menu" data-bs-backdrop="static" tabindex="-1" id="sidebar">
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title">bored.ai - Menu</h5>
      <button type="button" class="btn dismiss" data-bs-dismiss="offcanvas">
        Close
      </button>
    </div>
    <div class="menu-content offcanvas-body">
      <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <div class="link-lists list-group">
          <a href="/dynamo" class="link-tab list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0 highlight">
                  <i class="fa-solid fa-comments"></i> Talk away boredom
                </h6>
                <p class="mb-0 opacity-75">
                  Talk to bored.ai, whenever and wherever and about whatever
                  you want.
                </p>
              </div>
            </div>
          </a>
          <a href="/seeker" class="link-tab list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0 highlight">
                  <i class="fa-solid fa-lines-leaning"></i> Learn something
                  new
                </h6>
                <p class="mb-0 opacity-75">
                  Explore various ideas, theories or things you might find
                  interesting.
                </p>
              </div>
            </div>
          </a>
          <a href="/challenger" class="link-tab list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0 highlight">
                  <i class="fa-solid fa-puzzle-piece"></i> Solve challenges
                  and puzzles
                </h6>
                <p class="mb-0 opacity-75">
                  Brainstorm over engaging puzzles and difficult challenges.
                </p>
              </div>
            </div>
          </a>
          <a href="/shaman" class="link-tab list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0 highlight">
                  <i class="fa-solid fa-leaf"></i> Relax and unwind
                </h6>
                <p class="mb-0 opacity-75">
                  Take some time off and enjoy moments of calm and relaxation.
                </p>
              </div>
            </div>
          </a>

          <a href="/ace" class="link-tab list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0 highlight">
                  <i class="fa-solid fa-tasks"></i> Organize yourself
                </h6>
                <p class="mb-0 opacity-75">
                  Create a plan, declutter your space, and manage your time
                  effectively.
                </p>
              </div>
            </div>
          </a>

          <a href="/generalist" class="link-tab list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0 highlight">
                  <i class="fa-solid fa-paint-brush"></i> Discover hobbies
                </h6>
                <p class="mb-0 opacity-75">
                  Explore new activities and find your passion in various
                  hobbies.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
