<div class="modal fade" data-bs-backdrop="static" id="personalizeModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Not Opted User, different content (info) -->
      {% if not session["is_opted"]:%}
        <div class="modal-header border-none">
          <h3 class="modal-title fs-5" id="exampleModalToggleLabel">About Personalization</h3>
        </div>
        <div class="modal-body">
          By using Personalization, you are allowing Alcove to analyse your chats, 
          conversations and extract highlights, sentiments from past experiences.
          If you proceed, Alcove will begin to keep track of the previous few conversations
          and curate it's responses accordingly.
          <br><br>
          More than <b>{{session["opted_users%"]}}%</b> of our users have opted-in for Personalization.

          <br><br>
          <p class="fw-bold">How it works</p>
          When Personalization is on, Alcove analyses your past messages and conversations
          to improve the responses provided by Alcove; Here is how it works:
          <ol>
            <li>Your history is being stored on our cloud, and undergoes constant analysis</li>
            <li>Your data and responses are analyzed to ensure the conversations remain relatable</li>
          </ol>
          <br>
          <span class="fw-bold">Benefits of Personalization</span>
          <ol>
            <li>Chat companions remember your interests and things that you talk about.</li>
            <li>You can resume new conversations on the context of where you left before.</li>
            <li>Responses are more accurate and fitting to your style</li>
          </ol>
          <br>
          If you're not using Personalization, chats will not retain inter-conversational text 
          and your history. Each conversation would be treated uniquely.
        </div>
        <div class="modal-footer border-none">
          <form action="/personalize" method="POST"><button class="btn continue" type="submit">Proceed</button></form>
          <button class="btn dismiss" data-bs-target="#personalizeModal" data-bs-toggle="modal">Close</button>
        </div>
      {% endif %}

      <!-- Opted User, information on personalization bit -->
      {% if session["is_opted"]:%}
        <div class="modal-header border-none">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">About Personalization</h1>
        </div>
        <div class="modal-body">
          You are already using Personalization. If you would like to stop this, please press the 
          "Opt-Out" button. 
          <br><br>
          <span class="fw-bold">What's going on</span>
          <ol>
            <li>Your history is being stored on our cloud, and is undergoing constant analysis</li>
            <li>Your data and responses are being analysed to ensure that conversations remain relatable</li>
          </ol>
          If you opt out, we will stop recording your past chat history and data. Your data will be deleted, 
          and all of our services will start over. <span class="fw-bold">This action cannot be undone.</span>
        </div>
        <div class="modal-footer border-none">
          <form action="/depersonalize" method="POST"><button class="btn continue" type="submit">Opt-Out</button></form>
          <button class="btn dismiss" data-bs-target="#personalizeModal" data-bs-toggle="modal">Close</button>
        </div>
      {% endif %}
    </div>
  </div>
</div>