<!DOCTYPE html>
<html lang="en">
  <head>
    <title>bored.ai</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet"/>
    <link rel="icon" href="static/img/web_icon.png" />
    <link rel="stylesheet" href="static/styles/main.css" />
    <link rel="stylesheet" href="static/styles/home.css" />
    <link rel="stylesheet" href="static/styles/seeker.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
  </head>

  <body>
    {% include "partial_header.html"%}
    <button id="trigger" data-bs-toggle="modal" data-bs-target="#topicModal" hidden></button>
    <div class="modal fade" id="topicModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content topic-content">
            <div class="modal-header border-none">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Select some topics you're interested in</h1>
            </div>
            <form action="/seeker/intro" method="POST">
                <div class="modal-body">
                    <p class="text-center">
                        Your experience won't be limited to these topics, but some of them may be given preference over others. We're
                        just collecting this information to improve the results and responses on bored.ai
                    </p>
                    <br>
                    <div class="survey-body">
                        <div class="survey-item"><input type="checkbox" class="survey-check" name="history" value="history"/> History </div>
                        <div class="survey-item"><input type="checkbox" class="survey-check" name="ecology" value="ecology"/> Ecology</div>
                        <div class="survey-item"><input type="checkbox" class="survey-check" name="science" value="science"/> Science and Technology</div>
                        <div class="survey-item"><input type="checkbox" class="survey-check" name="arts" value="arts"/> Arts and Culture</div>
                        <div class="survey-item"><input type="checkbox" class="survey-check" name="philosophy" value="philosophy"/> Philosophy</div>
                        <div class="survey-item"><input type="checkbox" class="survey-check" name="astronomy" value="astronomy"/> Astronomy</div>
                        <div class="survey-item"><input type="checkbox" class="survey-check" name="finance" value="finance"/> Business and Finance</div>
                    </div>
                </div>
                <div class="modal-footer border-none">
                <button id="submitIntro" type="submit" class="btn continue" data-bs-dismiss="modal" disabled>Submit</button>
                </div>
            </type>
          </div>
        </div>
      </div>
    {% include "partial_profile.html"%}
    {% include "partial_menu.html"%}
    {% include "partial_footer.html"%}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRQat7KEhk+l/6rjoQ1Vd+tSp8PfuHT5ewJ2hVZih" crossorigin="anonymous"></script>
    <script src="static/scripts/home.js"></script>
    {% if session["askTopics"]:%}
      <script>
        document.getElementById("trigger").click();
      </script>
    {% endif %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxes = document.querySelectorAll('.survey-check');
            const submitButton = document.querySelector('#submitIntro');

            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', function () {
                    const atLeastOneChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
                    submitButton.disabled = !atLeastOneChecked;
                });
            });
        });
    </script>
  </body>
</html>
