<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alcove | Seeker</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet"/>
    <link rel="icon" href="static/img/web_icon.png" />
    <link rel="stylesheet" href="static/styles/main.css" />
    <link rel="stylesheet" href="static/styles/home.css" />
    <link rel="stylesheet" href="static/styles/seeker.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  </head>

  <body>
    {% include "partial_header.html"%}

    <!-- Toasts will be displayed here -->
    <div class="toast-container">
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="toast toast-top-right" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                      <img src="static/img/web_icon.png" width="32" height="32" class="rounded me-2">
                      <strong class="me-auto">Alcove</strong>
                      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                      {{ message }}
                    </div>
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
    </div>
    
    <!-- Hidden audio element -->
    <audio controls id="pingAudio" src="static/audio/ping.mp3" style="display:none;"></audio>
    
    <!-- Seeker Widget -->
    <div class="container">
      <h1 class="h1"><i class="fa-solid fa-comments"></i>&nbsp;Discuss and Debate</h1>
      <hr>         
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-12">
              <div class="main-body">
                <div id="chatWindowSocrates" class="chat-window container-fluid text-center">
                    <div id="loading" class="spinner-grow text-light" role="status" hidden><span class="fs-5 visually-hidden">Loading...</span></div>
                    <p id="seekerResponse" class="container">
                        {{talk | safe}}
                    </p>
                </div>
                <div class="action-bar container">          
                    <div class="search-bar input-group">
                        <form id="chat" action="/chat_seeker" method="POST">
                        <div class="chat-element input-group">
                            <textarea name="message" placeholder="Type a message" class="user-msg" id="userMessage" required></textarea>
                            <button class="p-lg continue" id="sendMessage" type="submit" tabindex="-1"><i class="fa-solid fa-paper-plane"></i></button>
                        </div>    
                        </form>
                    </div>
                    <div class="item-bar">
                        <div><a class="link-icon" href="/seeker" data-bs-toggle="tooltip" data-bs-placement="left" title="Restart chat"><i class="fa-solid fa-arrows-rotate fs-5"></i></a></div>
                        <div><a class="link-icon" data-bs-toggle="modal" data-bs-target="#personalizeModal"><i class="fa-solid fa-wand-sparkles fs-5" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Personalize"></i></a></div>
                        <div><a class="link-icon" data-bs-toggle="modal" data-bs-target="#infoModal" ><i class="fa-solid fa-circle-info fs-5" data-bs-toggle="tooltip" data-bs-placement="right" title="About Seeker"></i></a></div>
                    </div>
                </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-5 col-sm-12">
            <div class="sidebar">
              <div class="sidebar-content">
                <div class="card">
                    <h5 class="card-header"><i class="fa-solid fa-lightbulb"></i>&nbsp;Random Fact - {{fact_topic}}</h5>
                    <div class="card-body">
                      {{fact}}
                    </div>
                </div>
                <div class="card">
                  <h5 class="card-header"><i class="fa-solid fa-book"></i>&nbsp;Talk to a Philosopher</h5>
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td>Socrates</td>
                            <td>
                              <div class="d-flex flex-row g-3 buttons">
                                <button id="initSocrates" class="btn btn-sm btn-success phil-init" data-bs-toggle="modal" data-bs-target="#socratesModal">Talk</button>
                                &nbsp;
                                <div><a class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#aboutSocratesModal">About</a></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>Nietzsche</td>
                            <td>
                              <div class="d-flex flex-row g-3 buttons">
                                <button id="initNietzsche" class="btn btn-sm btn-success phil-init" data-bs-toggle="modal" data-bs-target="#nietzscheModal">Talk</button>
                                &nbsp;
                                <div><a class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#aboutNietzscheModal">About</a></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>Confucius</td>
                            <td>
                              <div class="d-flex flex-row g-3 buttons">
                                <button id="initConfucius" class="btn btn-sm btn-success phil-init" data-bs-toggle="modal" data-bs-target="#confuciusModal">Talk</button>
                                &nbsp;
                                <div><a class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#aboutConfuciusModal">About</a></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>Descartes</td>
                            <td>
                              <div class="d-flex flex-row g-3 buttons">
                                <button id="initDescartes" class="btn btn-sm btn-success phil-init" data-bs-toggle="modal" data-bs-target="#descartesModal">Talk</button>
                                &nbsp;
                                <div><a class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#aboutDescartesModal">About</a></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>Aristotle</td>
                            <td>
                              <div class="d-flex flex-row g-3 buttons">
                                <button id="initAristotle" class="btn btn-sm btn-success phil-init" data-bs-toggle="modal" data-bs-target="#aristotleModal">Talk</button>
                                &nbsp;
                                <div><a class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#aboutAristotleModal">About</a></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>Plato</td>
                            <td>
                              <div class="d-flex flex-row g-5 buttons">
                                <button id="initPlato" class="btn btn-sm btn-success phil-init" data-bs-toggle="modal" data-bs-target="#platoModal">Talk</button>
                                &nbsp;
                                <div><a class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#aboutPlatoModal">About</a></div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br><br>
    <!-- Briefings Widget -->
    <div class="container">
      <h1 class="h1"><i class="fa-solid fa-book"></i>&nbsp;Briefings</h1>
      <hr>

      <!-- Blog tab over -->
      <div class="container blog-intro">
        <div class="p-4 p-md-5 mb-4 rounded blog-background">
          <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic fc-accent fw-bold">Learn Better</h1>
            <p class="lead my-3">
              Use our <span class="fw-bold">Wikipedia</span> article condensation tool to make the best of what it has to offer.
            </p>
          </div>
        </div>
      </div>

      <!-- Desc & Tool Intro -->
      <div class="alert alert-dark">
        <p class="fw-bold fs-4"><i class="fa-solid fa-globe"></i>&nbsp;How to use Briefings</p>
        Simply open a Wikipedia page and enter its URL in the box below. Hit submit and you're good to go! We'll process and 
        condense your wiki article for you to read through. You can then ask Seeker any queries or doubts you have. 
      </div>

      <div class="my-4">
        <form id="wiki-form" action="/condense_wiki" method="POST" class="d-flex">
          <input type="text" id="wiki-url" class="form-control me-2 fc-dark" placeholder="Enter Wikipedia URL" required>
          <button type="submit" id="submit-btn" class="btn btn-primary">
            <span id="button-text">Submit</span>
            <span class="spinner-border spinner-border-sm d-none" id="spinner" role="status" aria-hidden="true"></span>
          </button>
        </form>
        <div id="message" class="mt-3"></div>

        <div class="modal fade" id="summaryModal" tabindex="-1" aria-labelledby="summaryModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="summaryModalLabel"><i class="fa-brands fa-wikipedia-w"></i>{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p id="summary">{{summary | safe}}</p>
              </div>
              <div class="modal-footer border-none">
                <button type="button" class="btn dismiss" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Discussion pane -->
      <div class="container mt-5 p-4 border rounded-3 bg-light shadow-sm d-none" id="discuss">
        <h4>Discussions</h4>
        <div class="row">
          <div class="col-12">
            <form class="d-flex mb-3" role="search" id="quickWikiChat" action="/chat_wiki" method="POST">
              <textarea id="userWikiMessageQuick" class="search-bar" placeholder="Enter a topic or query" aria-label="Search" required></textarea>
              <button class="btn btn-success btn-sm" type="submit" id="askButton">
                Ask
              </button>
            </form>
          </div>
        </div>
        <div class="row">
            <div class="col-12">
              <span id="spinnerQuick" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true" style="display: none;"></span>
              <p id="wikiResponseQuick" class="text-muted"></p>
            </div>
        </div>
      </div>

    </div>

    <!-- About Seeker -->
    <div class="modal fade" id="infoModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-none">
            <h1 class="modal-title fs-5">Seeker</h1>
          </div>
          <div class="modal-body">
            Seeker is your chat companion for anything intellectually 
            exciting and intriguing. It allows you to delve deeper into 
            questions and ideas you would often ruminate on. It excels
            at philosophical conversation, and its responses are more 
            verbose than other companions.
            <br><br>
            Here are some ways you can engage in conversations with it:
            <ul>
              <li>Asking any philosophical questions, reasoning or logic problems.</li>
              <li>Simulating thought experiments.</li>
              <li>Gaining deeper or nuanced insights or perspectives on topics.</li>
              <li>Any discussion that piques your interest.</li>
            </ul>
          </div>
          <div class="modal-footer border-none">
            <button type="button" class="btn dismiss" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Include the rest of the partial templates -->
    {% include "personalise_modal.html"%}
    {% include "partial_profile.html"%}
    {% include "partial_menu.html"%}
    {% include "partial_footer.html"%}
    {% include "socrates_modal.html"%}
    {% include "nietzsche_modal.html"%}
    {% include "confucius_modal.html"%}
    {% include "aristotle_modal.html"%}
    {% include "descartes_modal.html"%}
    {% include "plato_modal.html"%}
    {% include "about_philosophers.html"%}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script src="static/scripts/home.js"></script>
    <script src="static/scripts/seeker.js"></script>
  </body>
</html>
