@import url(main.css);


.window {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.chat-window {
    height: 60vh;
    background-color: var(--secondary-color);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.action-bar {
    height: 20vh;
    background-color:  var(--disabled-button-color);
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

@keyframes fade {
    0% {
        opacity: 0.3;
    }    
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}

#talk {
    color: var(--primary-color);
    text-align: center;
    animation: fade 0.75s linear;
}

.user-msg {
    resize: none;
    border-radius: 0.75rem;
    padding: 5px;
    min-width: 65%;
}

.search-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 50%;
}

