@import url(main.css);

body {
    background-color: var(--background-color);
}

.profile-icon {
    border: 3px solid black;
}

.profile-tab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.toolbar {
    display: flex;
    width: 100vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.toggle-sidebar:hover{
    cursor:pointer;
    border: none;
    background-color: rgba(0,0,0,0.15);
}

.daily-tip {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center;
}
.daily-tip > card {
    max-width: 60vw;
}

.central-division {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.tipbar {
    display: flex;
    height: auto;
    border: 1px solid black;
    border-radius: 0.50rem;
    padding: 10px;
    flex-direction: column;
    width: 100%;
    background-color: var(--accent-color);
}
.tipbar > p {
    text-align: left;
}

.sidebar {
    height: 80vh;
}

.menu-content {
    overflow: scroll;
    scrollbar-color: black white;
    scrollbar-width: thin;
    overflow-x: hidden;
}

.card-back {
    background-size: cover; 
    background-position: center;
}