@import url(main.css);

.main {
    min-height: 70vh;
    height: auto;
    overflow: auto;
}

.response-pane {
    width: 60vw;
    height: 20vh;
    border-radius: 0.50rem;
    padding: 10px;
}


@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}


.fade-in {
    animation: fadeIn linear 2s;
}

.interact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.radar-form {
    gap: 10px;
}

.progress-item {
    margin-bottom: 20px;
}

.progress-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    text-align: center;
}

.progress {
    height: 30px;
    width: 100%;
    background-color: transparent;
    border-radius: 0.25rem;
    overflow: hidden;
    border: 1px solid black;
}

.progress-bar {
    height: 100%;
    transition: width 0.6s ease;
}

.chart-container {
    position: relative;
    width: 50%;
    height: 50%;
  }
  