@import url(main.css);

.survey-item {
    border: 1px solid var(--font-color);
    border-radius: 1rem;
    padding: 10px;
}

.survey-body {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.survey-check {
    appearance: none;
    border: 1px solid black;
    border-radius: 10%;
    width:16px;
    height: 16px;
}
.survey-check:checked {
    border: 2px solid black;
    background-color: var(--accent-color);
}

#topicModal {
    background-color: rgba(0,0,0,0.10);
}
.topic-content {
    background-color: var(--primary-color);
}

.seeker-intro {
    height: 60vh;
    background-color: var(--font-color);
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.blog-background {
    position: relative;
    background-image: url('/static/img/blogs.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 2rem;
    overflow: hidden;
  }
  
  .blog-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .blog-background > .col-lg-6 {
    position: relative;
    z-index: 2;
  }
  
  .card {
    border: 1px solid #ddd; 
    border-radius: 0.5rem; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .topics-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
  }
  
  .topics-nav .nav-link {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd; 
    border-radius: 0.25rem; 
    color: #007bff;
    text-decoration: none;
    background-color: #f8f9fa;
  }
  
  .topics-nav .nav-link:hover {
    background-color: #e9ecef;
    color: #0056b3;
    border-color: #ccc;
  }
  